<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Register</title>
	<link rel="stylesheet" type="text/css" href="../css/register.css">
</head>
<body>
	<form action="../controller/controller.php" method="POST" enctype="multipart/form-data">
	<p>Nombre: <input name="nombre" type="text"/></p>
    <p>Apellidos: <input name="apellidos" type="text"/></p>
    <p>Genero: <select name="genero" style="margin: 10px;">
            <option value="hombre">Hombre</option>
            <option value="mujer">Mujer</option>
            <option value="otro">Otro</option>
        </select></p>
    <p>DNI: <input name="dni" type="text"/></p>
    <p>TEL: <input name="tel" type="tel"/></p>
    <p>Correo Electronico: <input name="correo" type="email"/></p>
    <p>Contraseña: <input name="contraseña" type="password" /></p>
    <input name="control" value="login" type="hidden"/>
    <input name="submit" value="submit" type="submit">
    </form>
</body>
</html>